{extend name="../Public:base" /}
{block name="title"}基于swoole的商城{/block}
{block name="content"}

{include file="../Public:top" /}
{include file="../Public:header" /}
<div class="content">
    {include file="../Public:nav" /}
    <div class="category-con">
        <div class="category-inner-con w1200">
            <div class="category-type">
                <h3>全部分类</h3>
            </div>
            <div class="category-tab-content">
                <div class="nav-con">
                    <ul class="normal-nav layui-clear">
                        <li class="nav-item">
                            <div class="title">奶粉辅食</div>
                            <p><a href="/index/goods/detail?id=1">奶粉</a><a href="/index/goods/detail?id=2">捕食</a><a href="/index/goods/detail?id=3">营养品</a></p>
                            <i class="layui-icon layui-icon-right"></i>
                        </li>
                        <li class="nav-item">
                            <div class="title">纸尿裤</div>
                            <p><a href="/index/goods/detail?id=200">纸尿裤</a><a href="/index/goods/detail?id=201">婴儿湿巾</a></p>
                            <i class="layui-icon layui-icon-right"></i>
                        </li>
                        <li class="nav-item">
                            <div class="title">洗护用品</div>
                            <p><a href="/index/goods/detail?id=301">母婴洗护用品</a><a href="302">孕婴童用品</a></p>
                            <i class="layui-icon layui-icon-right"></i>
                        </li>
                        <li class="nav-item">
                            <div class="title">儿童玩具</div>
                            <p><a href="/index/goods/detail?id=401">婴幼玩具</a><a href="/index/goods/detail?id=402">遥控玩具</a><a href="/index/goods/detail?id=403">积木拼插</a></p>
                            <i class="layui-icon layui-icon-right"></i>
                        </li>
                        <li class="nav-item">
                            <div class="title">车窗座椅</div>
                            <p><a href="/index/goods/detail?id=501">婴儿推车</a><a href="/index/goods/detail?id=601">儿童安全座骑</a></p>
                            <i class="layui-icon layui-icon-right"></i>
                        </li>
                        <li class="nav-item">
                            <div class="title">儿童童鞋</div>
                            <p><a href="/index/goods/detail?id=601">童装</a><a href="/index/goods/detail?id=602">童鞋</a><a href="/index/goods/detail?id=603">婴童内衣及配饰</a></p>
                            <i class="layui-icon layui-icon-right"></i>
                        </li>
                        <li class="nav-item">
                            <div class="title">儿童图片</div>
                            <p><a href="/index/goods/detail?id=701">0-2岁</a><a href="/index/goods/detail?id=702">早教启蒙</a><a href="/index/goods/detail?id=703">孕产育儿</a></p>
                            <i class="layui-icon layui-icon-right"></i>
                        </li>
                        <li class="nav-item nobor">
                            <div class="title">孕妈专区</div>
                            <p><a href="/index/goods/detail?id=801">孕妇装</a><a href="/index/goods/detail?id=802">背婴带</a><a href="/index/goods/detail?id=803">母婴服务</a></p>
                            <i class="layui-icon layui-icon-right"></i>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="category-banner">
            <div class="w1200">
                <img src="//cdn.static.questionfans.com/img/banner1.jpg">
            </div>
        </div>
    </div>
    <div class="floors">
        <div class="sk">
            <div class="sk_inner w1200">
                <div class="sk_hd">
                    <a href="/index/goods/detail?id=1000">
                        <img src="//cdn.static.questionfans.com/img/s_img1.jpg">
                    </a>
                </div>
                <div class="sk_bd">
                    <div class="layui-carousel" id="test1">
                        <div carousel-item>
                            <div class="item-box">
                                {foreach $goods.recommend as $k=>$v}
                                {if $k < 4}
                                <div class="item">
                                    <a href="/index/goods/detail?id={$v.id}"><img src="{$v.img}"></a>
                                    <div class="title">{$v.title}</div>
                                    <div class="price">
                                        <span>￥{$v.price}</span>
                                        <del>￥{$v.price*1.2}</del>
                                    </div>
                                </div>
                                {/if}
                                {/foreach}
                            </div>
                            <div class="item-box">
                                {foreach $goods.recommend as $k=>$v}
                                {if $k > 3 && $k < 8}
                                <div class="item">
                                    <a href="/index/goods/detail?id={$v.id}"><img src="{$v.img}"></a>
                                    <div class="title">{$v.title}</div>
                                    <div class="price">
                                        <span>￥{$v.price}</span>
                                        <del>￥{$v.price*1.2}</del>
                                    </div>
                                </div>
                                {/if}
                                {/foreach}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="product-cont w1200" id="product-cont">
         <div class="product-item product-item1 layui-clear">
            <div class="left-title">
                <h4><i>1F</i></h4>
                <img src="//cdn.static.questionfans.com/img/icon_gou.png">
                <h5>宝宝服饰</h5>
            </div>
            <div class="right-cont">
                <a href="/index/goods/detail?id=1001" class="top-img"><img src="//cdn.static.questionfans.com/img/tuan_img_banner.jpg" alt="" style="width: 1000px;height: 200px"></a>
                <div class="img-box">
                    {foreach $goods.f1 as $k=>$v}
                    <a href="/index/goods/detail?id={$v.id}"><img src="{$v.img}"></a>
                    {/foreach}
                </div>
            </div>
        </div>
        <div class="product-item product-item2 layui-clear">
            <div class="left-title">
                <h4><i>2F</i></h4>
                <img src="//cdn.static.questionfans.com/img/icon_gou.png">
                <h5>奶粉辅食</h5>
            </div>
            <div class="right-cont">
                <a href="/index/goods/detail?id=1002" class="top-img"><img src="//cdn.static.questionfans.com/img/img12.jpg" alt=""></a>
                <div class="img-box">
                    {foreach $goods.f2 as $k=>$v}
                    <a href="/index/goods/detail?id={$v.id}"><img src="{$v.img}"></a>
                    {/foreach}
                </div>
            </div>
        </div>
        <div class="product-item product-item3 layui-clear">
            <div class="left-title">
                <h4><i>3F</i></h4>
                <img src="//cdn.static.questionfans.com/img/icon_gou.png">
                <h5>宝宝用品</h5>
            </div>
            <div class="right-cont">
                <a href="/index/goods/detail?id=1003" class="top-img" style="width: 1000px;height: 200px;overflow: hidden;display: inline-block"><img src="//cdn.static.questionfans.com/img/us_banner.jpg" alt=""  style="width: 1000px;margin-top: -130px"></a>
                <div class="img-box">
                    {foreach $goods.f3 as $k=>$v}
                    <a href="/index/goods/detail?id={$v.id}"><img src="{$v.img}"></a>
                    {/foreach}
                </div>
            </div>
        </div>
    </div>

    <div class="product-list-box" id="product-list-box">
        <div class="product-list-cont w1200">
            <h4>更多推荐</h4>
            <div class="product-item-box layui-clear">
                {foreach $goods.recommend as $k=>$v}
                {if $k > 7}
                <div class="list-item">
                    <a href="/index/goods/detail?id={$v.id}"><img src="{$v.img}" style="width: 160px;height: 160px"></a>
                    <p style="height: 40px;overflow: hidden">{$v.title}{$v.sub_title}</p>
                    <span>￥{$v.price}</span>
                </div>
                {/if}
                {/foreach}
            </div>
        </div>
    </div>
</div>
{/block}
{block name="js"}
<script type="text/javascript">
    layui.use(['mm', 'carousel'], function () {
        var carousel = layui.carousel,
            mm = layui.mm;
        var option = {
            elem: '#test1'
            , width: '100%' //设置容器宽度
            , arrow: 'always'
            , height: '298'
            , indicator: 'none'
        }
        carousel.render(option);
    });
</script>
{/block}