{extend name="../Public:base" /}
{block name="title"}基于swoole的商城{/block}
{block name="content"}

{include file="../Public:top" /}
{include file="../Public:header" /}
<div class="content content-nav-base shopcart-content">
    {include file="../Public:nav" /}
    <div class="banner-bg w1200">
        <h3>购物车</h3>
        <p>炎炎夏日，快来清空购物车吧</p>
    </div>
    <div class="cart w1200">
        <div class="cart-table-th">
            <div class="th th-chk">
                <div class="select-all">
                    <div class="cart-checkbox">
                        <input class="check-all check" id="allCheckked" type="checkbox" value="true">
                    </div>
                    <label>&nbsp;&nbsp;全选</label>
                </div>
            </div>
            <div class="th th-item">
                <div class="th-inner">
                    商品
                </div>
            </div>
            <div class="th th-price">
                <div class="th-inner">
                    单价
                </div>
            </div>
            <div class="th th-amount">
                <div class="th-inner">
                    数量
                </div>
            </div>
            <div class="th th-sum">
                <div class="th-inner">
                    小计
                </div>
            </div>
            <div class="th th-op">
                <div class="th-inner">
                    操作
                </div>
            </div>
        </div>
        <div class="OrderList">
            <div class="order-content" id="list-cont">
                {foreach $goods as $v}
                <ul class="item-content layui-clear">
                    <li class="th th-chk">
                        <div class="select-all">
                            <div class="cart-checkbox">
                                <input class="CheckBoxShop check" id="" type="checkbox" num="all" name="select-all"
                                       value="true">
                            </div>
                        </div>
                    </li>
                    <li class="th th-item">
                        <div class="item-cont">
                            <a href="/index/Index/detail?id={$v.id}"><img src="{$v.img}" alt=""></a>
                            <div class="text">
                                <div class="title">{$v.title}</div>
                                <p><span>{$v.sub_title}</span></p>
                            </div>
                        </div>
                    </li>
                    <li class="th th-price">
                        <span class="th-su">{$v.price}</span>
                    </li>
                    <li class="th th-amount">
                        <div class="box-btn layui-clear">
                            <div class="less layui-btn">-</div>
                            <input class="Quantity-input" type="" name="" value="{$v.num}" disabled="disabled">
                            <div class="add layui-btn">+</div>
                        </div>
                    </li>
                    <li class="th th-sum">
                        <span class="sum">{$v.total}</span>
                    </li>
                    <li class="th th-op">
                        <span class="dele-btn">删除</span>
                    </li>
                </ul>
                {/foreach}
            </div>
        </div>


        <div class="FloatBarHolder layui-clear">
            <div class="th th-chk">
                <div class="select-all">
                    <div class="cart-checkbox">
                        <input class="check-all check" id="select-all" name="select-all" type="checkbox" value="true">
                    </div>
                    <label>&nbsp;&nbsp;已选<span class="Selected-pieces">0</span>件</label>
                </div>
            </div>
            <div class="th batch-deletion">
                <span class="batch-dele-btn">批量删除</span>
            </div>
            <div class="th Settlement">
                <button class="layui-btn" id="pay">结算</button>
            </div>
            <div class="th total">
                <p>应付：<span class="pieces-total">0</span></p>
            </div>
        </div>
    </div>
</div>
{/block}
{block name="js"}
<script type="text/javascript">
    layui.use(['mm', 'element', 'car'], function () {
        var mm = layui.mm, element = layui.element, car = layui.car;
        car.init();
        $("#pay").click(function () {
            layer.confirm('这里将使用swoole的定时器，模拟下单后1分钟内未支付自动取消订单', function(index){
                request.send({
                    url: '/index/order/add',
                    dumpUrl: '/inder/order/index'
                });
                layer.close(index);
            });
            return false;
        })
    });
</script>
{/block}